pandas==2.3.3
pyarrow==17.0.0
ipykernel
scikit_learn==1.6.1
torch==2.6.0
torch_geometric==2.6.1
matplotlib==3.9.4
seaborn==0.13.2
pytest>=7.0.0
pytest-html>=3.2.0  # для HTML отчетов (опционально)
uvicorn
fastapi==0.125